<section class="main">
  <div class="columns is-centered">
    <div class="column is-8">
        <div class="field">
    <label class="label">Preferred Artist:</label>
    <div class="control">
      <div class="select artist">
        <select id="artists">
          <option disabled selected>Select Artist</option>
          {{#each allArtists}}
          <option class="artist" data-cal="{{googlepath}}" value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
<div class="columns is-centered">
   <div class="column is-8 calendar">
    </div>
</div>
  <div class="field">
    <label class="label">Name</label>
    <div class="control has-icons-left has-icons-right">
      <input id="name" class="input" type="text" placeholder="Your Name">
       <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>


    <div class="field">
    <label class="label">Phone</label>
    <div class="control has-icons-left has-icons-right">
      <input id="phone" class="input" type="tel" placeholder="999-999-9999">
      <span class="icon is-small is-left">
        <i class="fas fa-phone"></i>
      </span>
    </div>
  </div>


  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input id="email" class="input" type="email" placeholder="Your Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>



  <div class="field">
    <label class="label">Idea</label>
    <div class="control">
      <textarea id="idea" class="textarea" placeholder=""></textarea>
    </div>
  </div>

      <div class="field">
    <label class="label">Date</label>
    <div class="control has-icons-left has-icons-right">
      <input id="phone" class="input" type="date" placeholder="">
      <span class="icon is-small is-left">
        <i class="fas fa-calendar"></i>
      </span>
    </div>
  </div>

      <div class="field">
    <label class="label">Time</label>
    <div class="control has-icons-left has-icons-right">
      <input id="phone" class="input" type="time" placeholder="">
      <span class="icon is-small is-left">
        <i class="fas fa-clock"></i>
      </span>
    </div>
  </div>

  {{!-- Add form for date and time. Make greyed out and have radio button enable. --}}

  <div class="field is-grouped">
    <div class="control">
      <button class="submit button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
  </div>
  </div>
</section>
