<section class="main">
  <div class="card-image-4">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="field">
          <label class="label">Preferred Artist:</label>
          <div class="control">
            <div class="select artist">
              <select id="artists">
                <option>Select Artist</option>
                {{#each allArtists}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input id="name" class="input" type="text" placeholder="Your Name">
          </div>
        </div>

        {{!-- <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input id="name" class="input" type="text" placeholder="Your Name">
       <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div> --}}
        <div class="field">
          <label class="label">Phone</label>
          <div class="control has-icons-left has-icons-right">
            <input id="phone" class="input" type="tel" placeholder="999-999-9999">
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </div>
        </div>


        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input id="email" class="input" type="email" placeholder="Your Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>



        <div class="field">
          <label class="label">Idea</label>
          <div class="control">
            <textarea id="idea" class="textarea" placeholder="Textarea"></textarea>
          </div>
        </div>

        {{!-- <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div> --}}

        {{!-- <div class="field">
    <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="question">
        No
      </label>
    </div>
  </div> --}}

        <div class="field is-grouped">
          <div class="control">
            <button id="button" class="submit button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer-2">
      <div class="column"></div>
    </div>
  </div>
</section>