<section class="main card-image">


    <div class="columns is-centered">
      <div class="column is-5">
        <div class="has-text-centered">
          <img src="/images/allef-vinicius-178362-unsplash.jpg" alt="">
          <hr>
          <h1 class="title is-2">About Us</h1>
        </div>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos esse porro officiis optio laboriosam,
          mollitia perspiciatis, sapiente sit assumenda eligendi! Beatae cumque corporis perferendis aliquid, quod quas
          minus aut.</p>
      </div>
      <div class="column is-5">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos esse porro officiis optio laboriosam,
          mollitia perspiciatis, sapiente sit assumenda eligendi! Beatae cumque corporis perferendis aliquid, quod quas
          minus aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos esse porro officiis optio laboriosam,
          mollitia perspiciatis, sapiente sit assumenda eligendi! Beatae cumque corporis perferendis aliquid, quod quas
          minus aut.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos esse porro officiis optio laboriosam,
          mollitia perspiciatis, sapiente sit assumenda eligendi! Beatae cumque corporis perferendis aliquid, quod quas
          minus aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos esse porro officiis optio laboriosam,
          mollitia perspiciatis, sapiente sit assumenda eligendi! Beatae cumque corporis perferendis aliquid, quod quas
          minus aut.</p>
      </div>
    </div>


</section>

  <div class="card-footer-3">
      <div class="column"></div>
    </div>