@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('../assets/fonts/Hurson.ttf');

@font-face {
  font-family: 'Hurson';
  src: url('../assets/fonts/Hurson.ttf');
  src: url('../assets/fonts/Hurson.ttf') format("woff"),
    url('../assets/fonts/Hurson.ttf') format("opentype"),
    url('../assets/fonts/Hurson.ttf') format("svg");
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

/* .fourohfour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Hurson';
  font-size: 80px;
  background-image: url('../assets/img/1006-Winged-skull.png');
  background-position: center;
  background-size: cover;
  height: 400px;
  color: rgb(55, 177, 173);
  -webkit-text-stroke: black 1px;
} */

.header {
  /* background-image: url('../assets/img/header-grayscale.jpeg'); */
  background-size: cover;
  /* border-bottom: 5px rgb(46, 46, 46) solid; */
  margin-bottom: 20px;
}


/* logo image */
.card-image-1 {
  background-image: url('../assets/img/logo.jpg');
  background-position: center;
  height: 470px;
  background-repeat: no-repeat;
  margin-top: -30px;
}

/* home foooter image */
.card-footer-3 {
  background-image: url('../assets/img/foot1.png');
  background-position: center;
  height: 90px;
  background-repeat: no-repeat;
  margin-bottom: -80px;
}

/* artist footer image */
.card-footer-1 {
  background-image: url('../assets/img/artist.png');
  background-position: center;
  height: 150px;
  background-repeat: no-repeat;
}

/* inquire footer image */
.card-footer-2 {
  background-image: url('../assets/img/inquire.png');
  background-position: center;
  height: 150px;
  background-repeat: no-repeat;
  
}

/* home page background */
.card-image-2 {
  background-image: url('../assets/img/back1.jpg');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

/* 404 image */
.card-image-3 {
  background-image: url('../assets/img/404.png');
  background-position: center;
  height: 650px;
  width: 500px;
  margin: auto;
  background-repeat: no-repeat;

}

.card-image-4 {
  background-image: url('../assets/img/back2.jpg');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-image-5 {
  background-image: url('../assets/img/back5.jpg');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

#button {

background-color: black;
}

.logo h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Hurson';
  font-size: 100px;
  color: rgb(55, 177, 173);
  padding: 0px;
  margin: 0px;
  -webkit-text-stroke: black 1px;
}

.profilepic {
  width: 400px;
  height: auto;
}

navbar li {
  position: relative;
  top: 5px;
  display: inline;
  list-style: none;
  padding: 80px;
  font-family: 'Hurson';
  font-size: 40px;
}



:root {
  --mainColor:  rgba(2, 0, 97, 0.342);
}

.nav-link a {
  background:
    linear-gradient(to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .5s;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  color: rgba(2, 0, 97, 0.342);
}

a:hover {
  background-size: 4px 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  font-family: 'Hurson';
  font-size: 20px;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color:rgba(2, 0, 97, 0.342);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

img {
  transition: filter .1s ease-in-out;
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  /* FF 35+ */
}

img:hover {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
}


.main {
  font-family: 'Raleway';
}

.main h1 {
  font-family: 'Hurson';
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin: auto;
  font-size: 2em;
  margin-top: 70px;
}

footer i {
  padding: 5px;
  margin: auto;
}

@media only screen and (min-width: 801px) {
  .hamburger {
    visibility: hidden;
  }
}

@media only screen and (max-width: 800px) {
  navbar li {
    display: none;
  }

  .hamburger a {
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    font-size: 1.5em;
    color: black;
  }
  #mobilenav {
    display: none;
  }
}